[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# I have not split this file further to avoid very small files that only do one thing
# If any of these mechanics are added to in the future with more patches feel free to split
# - lord.ruby

# noir channel card
[[patches]]
[patches.pattern]
target = 'game.lua'
match_indent = true
position = 'after'
pattern = '''last_tarot_planet = nil,
'''
payload = '''
        last_channel = nil,
        last_joker = nil,
        chips_buffer = 0,
        blind_rate = 0,
'''

# reload
[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = 'self:set_sprites(self.config.center, self.config.card)'
match_indent = true
position = 'after'
payload = '''
local obj = self.config.center
if obj.reload and type(obj.reload) == 'function' then
	obj:reload(self, cardTable, other_card)
end
'''

# blindsoul
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''for _, v in ipairs(SMODS.Consumable.legendaries) do'''
position = "before"
payload = '''
for _, v in ipairs(SMODS.Consumable.legendaries) do
    if v.soul_sets then
        for _, soul_set in ipairs(v.soul_sets) do
            if (_type == soul_set) and not (G.GAME.used_jokers[v.key] and not SMODS.showman(v.key) and not v.can_repeat_soul) and SMODS.add_to_pool(v) then
                soul_total_rate = soul_total_rate + v.soul_rate
                non_soul_rate = non_soul_rate * (1 - v.soul_rate)
                non_soul_rate = math.max(non_soul_rate, 0)
                table.insert(modded_souls, v)
            end
        end
    end
end
'''
match_indent = true

# stakes unlocked by default in UI
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = "if (deck_usage and deck_usage.wins[i - 1]) or (not next(G.P_CENTER_POOLS.Stake[i].applied_stakes or {})) or G.PROFILES[G.SETTINGS.profile].all_unlocked then valid_option = true end"
position = 'after'
match_indent = true
payload = '''
if (G.P_CENTER_POOLS['Stake'][i].key == 'stake_bld_green_deck' or G.P_CENTER_POOLS['Stake'][i].key == 'stake_bld_black_deck' or G.P_CENTER_POOLS['Stake'][i].key == 'stake_bld_magic_deck') then valid_option = true end
'''



# stakes unlocked by default
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = "if not deck.wins_by_key[applied_stake] then return false end"
position = 'at'
match_indent = true
payload = '''
if (applied_stake ~= 'stake_bld_green_deck' and applied_stake ~= 'stake_bld_black_deck' and applied_stake ~= 'stake_bld_red_deck') then
    if not deck.wins_by_key[applied_stake] then return false end
end
'''


# xylophone (funny)
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''--disabled patch play_sound('card1', 0.85 + percent*0.2/100, 0.6*(vol or 1))'''
position = "at"
payload = '''
if G.GAME.selected_back.effect.center.config.extra and G.GAME.selected_back.effect.center.config.extra.blindside then
    play_sound('bld_xylo1', 1.05476607648 ^ (percent/10), 0.7*(vol or 1))
else
    play_sound('card1', 0.85 + percent*0.2/100, 0.6*(vol or 1))
end
'''
match_indent = true


# chippy noise
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''--play_sound('card1', 0.85 + percent*0.2/100, 0.6*(vol or 1))'''
position = "at"
payload = '''
if G.GAME.selected_back.effect.center.config.extra and G.GAME.selected_back.effect.center.config.extra.blindside then
    play_sound('bld_chip1', 0.9 + percent*0.2/100, 1.1*(vol or 1))
else
    play_sound('card1', 0.85 + percent*0.2/100, 0.6*(vol or 1))
end
'''
match_indent = true

# play_sound('card1')
# card.lua

# chippy noise
[[patches]]
[patches.pattern]
target = "cardarea.lua"
pattern = '''--if not silent then play_sound('cardSlide1') end'''
position = "at"
payload = '''
if not silent then
    if G.GAME.selected_back.effect.center.config.extra and G.GAME.selected_back.effect.center.config.extra.blindside then
        --play_sound('bld_chip1')
        --play_sound('chips1', 0.8, 0.25)
        play_sound('bld_chipslide1', 1, 4)
    else
        play_sound('cardSlide1')
    end
end
'''
match_indent = true


# chippy noise
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''--play_sound('cardSlide1', 0.85 + percent*0.2)'''
position = "at"
payload = '''
    if G.GAME.selected_back.effect.center.config.extra and G.GAME.selected_back.effect.center.config.extra.blindside then
        play_sound('bld_chipslide1', 0.85 + percent*0.2, 4)
    else
        play_sound('cardSlide1', 0.85 + percent*0.2)
    end
'''
match_indent = true


# chippy noise
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''--play_sound('cardSlide2', nil, 0.3)'''
position = "at"
payload = '''
if not silent then
    if G.GAME.selected_back.effect.center.config.extra and G.GAME.selected_back.effect.center.config.extra.blindside then
        play_sound('bld_chipslide2', nil, 0.3)
    else
        play_sound('cardSlide2', nil, 0.3)
    end
end
'''
match_indent = true