[manifest]
version = "1.0.0"
dump_lua = true
priority = 0


# voucher refresh
[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = '''
if self.shop_voucher then G.GAME.current_round.voucher.spawn[self.config.center_key] = false end
'''
match_indent = true
position = 'after'
payload = '''
if self.shop_voucher and G.GAME.selected_back.effect.center.config.extra and G.GAME.selected_back.effect.center.config.extra.blindside then 
G.GAME.current_round.voucher = SMODS.get_next_vouchers()
G.GAME.round_resets.tags_bought = G.GAME.round_resets.tags_bought + 1
for _, key in ipairs(G.GAME.current_round.voucher or {}) do
    if G.P_CENTERS[key] and G.GAME.current_round.voucher.spawn[key] then
        SMODS.add_voucher_to_shop(key)
        G.shop_vouchers.cards[1].cost = math.max(G.shop_vouchers.cards[1].cost + 5*G.GAME.round_resets.tags_bought - (G.GAME.used_vouchers['v_bld_treasurechest'] and 20 or 0), 0)
    end
end
end
'''

# microscope
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if self.ability.set == 'Booster' then"
position = "after"
payload = '''
    if G.GAME.used_vouchers.v_bld_satellite and self.config.center.kind == 'channel' then
        self.ability.choose = (self.ability.choose or 1) + 1
    end
'''
match_indent = true

# clapper
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''UIBox_button({label = {localize('b_reroll_boss'), localize('$')..'10'}, button = "reroll_boss", func = 'reroll_boss_button'}) or nil'''
position = "at"
payload = '''
UIBox_button({label = {localize('b_reroll_boss'), localize('$')..'10'}, button = "reroll_boss", func = 'reroll_boss_button'}) or nil,
(G.GAME.used_vouchers["v_bld_clapper"] or G.GAME.used_vouchers["v_bld_film_reel"]) and
UIBox_button({label = {localize('b_reroll_boss'), '1 Hand'}, button = "blind_reroll_boss", func = 'blind_reroll_boss_button'}) or nil,
'''
match_indent = true


[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = "self.ability = {"
position = "before"
payload = '''self.count = _tag.count or 1'''
match_indent = true

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = "ability = self.ability"
position = "after"
payload = ''',
count = self.count'''
match_indent = true

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = "self.ability = tag_savetable.ability"
position = "after"
payload = '''self.count = tag_savetable.count'''
match_indent = true

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = "self.HUD_tag.states.visible = false"
position = "at"
payload = ''''''
match_indent = true
count = 2

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = "self.HUD_tag:remove()"
position = "after"
payload = '''generateTagUi()'''
match_indent = true

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = "self:remove()"
position = "after"
payload = '''generateTagUi()'''
match_indent = true
count = 2

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''G.HUD_tags[#G.HUD_tags+1] = UIBox{
      definition = {n=G.UIT.ROOT, config={align = "cm",padding = 0.05, colour = G.C.CLEAR}, nodes={
        tag_sprite_ui
      }},
      config = {
        align = G.HUD_tags[1] and 'tm' or 'bri',
        offset = G.HUD_tags[1] and {x=0,y=0} or {x=0.7,y=0},
        major = G.HUD_tags[1] and G.HUD_tags[#G.HUD_tags] or G.ROOM_ATTACH}
  }'''
position = "at"
payload = '''
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = ''' _tag.HUD_tag = G.HUD_tags[#G.HUD_tags]'''
position = "at"
payload = '''generateTagUi()'''
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua" # Tag:Yep
pattern = '''G.FUNCS.blind_chip_UI_scale(G.hand_text_area.blind_chips)'''
position = "before"
payload = '''generateTagUi()'''
match_indent = false

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "add_tag(_tag)"
position = "before"
payload = '''_tag.savetable = true'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''elseif _type == 'Voucher' then _pool[#_pool + 1] = "v_blank"'''
position = "at"
payload = '''elseif _type == 'Voucher' then
    if G.GAME.selected_back and G.GAME.selected_back.effect.center.config.extra and G.GAME.selected_back.effect.center.config.extra.blindside then
        _pool[#_pool + 1] = "v_bld_nametag"
    else
        _pool[#_pool + 1] = "v_blank"
    end'''
match_indent = true