[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# held in hand repetitions
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
pattern = '''
        -- TARGET: add your own CardAreas for joker evaluation
'''
match_indent = true
position = 'before'
payload = '''
t[#t+1] = G.hand
'''

# current round trinkets
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''
G.GAME.current_round.hands_left = G.GAME.round_resets.hands
'''
match_indent = true
position = 'after'
payload = '''
if G.GAME.selected_back.effect.center.config.extra and G.GAME.selected_back.effect.center.config.extra.blindside then
self.GAME.current_round.trinket = ((G.SETTINGS.blindside_tutorial_progress or {}).forced_shop) or BLINDSIDE.get_next_trinket()
G.GAME.round_resets.tags_bought = 0 
end
'''

# current round trinkets
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = '''
G.GAME.current_round.voucher = SMODS.get_next_vouchers()
'''
match_indent = true
position = 'after'
payload = '''
if G.GAME.selected_back.effect.center.config.extra and G.GAME.selected_back.effect.center.config.extra.blindside then
for i = 1, G.GAME.shop.joker_max do
    G.GAME.current_round.trinket = BLINDSIDE.get_next_trinket()
end
-- G.GAME.round_resets.tags_bought = 0
if not G.GAME.round_resets.hands_removed then
    G.GAME.round_resets.hands_removed = 0
end
G.GAME.round_resets.hands = G.GAME.round_resets.hands + G.GAME.round_resets.hands_removed
G.GAME.round_resets.hands_removed = 0
end
'''

# current round trinkets
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = '''
G.jokers:emplace(c1)
'''
match_indent = true
position = 'after'
payload = '''
if c1.shop_voucher then G.GAME.current_round.trinket.spawn[c1.config.center_key] = false end
'''