[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# TUTORIAL - Start Run
[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
pattern = '''
UIBox_button{id = 'main_menu_play', button = not G.SETTINGS.tutorial_complete and "start_run" or "setup_run", colour = G.C.BLUE, minw = 3.65, minh = 1.55, label = {localize('b_play_cap')}, scale = text_scale*2, col = true},
'''
match_indent = true
position = 'at'
payload = '''
UIBox_button{id = 'main_menu_play', button = (not G.SETTINGS.blindside_tutorial_complete and "start_blind_run") or ("setup_run"), colour = G.C.BLUE, minw = 3.65, minh = 1.55, label = {localize('b_play_cap')}, scale = text_scale*2, col = true},
'''

# TUTORIAL - Tutorial Controller
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''
if not G.SETTINGS.tutorial_complete then G.FUNCS.tutorial_controller() end
'''
match_indent = true
position = 'at'
payload = '''
if not G.SETTINGS.blindside_tutorial_complete then G.FUNCS.blindside_tutorial_controller() end
'''

# TUTORIAL - No skips
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = '''
if _tag_container and not G.SETTINGS.tutorial_complete and not G.SETTINGS.tutorial_progress.completed_parts['shop_1'] then _tag_container.states.visible = false
'''
match_indent = true
position = 'after'
payload = '''
elseif _tag_container and not G.SETTINGS.blindside_tutorial_complete and not G.SETTINGS.blindside_tutorial_progress.completed_parts['shop_3'] then _tag_container.states.visible = false
'''

# TUTORIAL - Forced generation
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''
local forced_voucher = (G.SETTINGS.tutorial_progress or {}).forced_voucher
'''
match_indent = true
position = 'after'
payload = '''
forced_voucher = (G.SETTINGS.blindside_tutorial_progress or {}).forced_voucher
'''

# TUTORIAL - Forced generation
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''
self.GAME.round_resets.blind_tags.Small = G.SETTINGS.tutorial_progress and G.SETTINGS.tutorial_progress.forced_tags and G.SETTINGS.tutorial_progress.forced_tags[1] or get_next_tag_key()
'''
match_indent = true
position = 'at'
payload = '''
self.GAME.round_resets.blind_tags.Small = G.SETTINGS.tutorial_progress and G.SETTINGS.tutorial_progress.forced_tags and G.SETTINGS.tutorial_progress.forced_tags[1] or (G.SETTINGS.blindside_tutorial_progress and G.SETTINGS.blindside_tutorial_progress.forced_tags and G.SETTINGS.blindside_tutorial_progress.forced_tags[1]) or get_next_tag_key()
'''

# TUTORIAL - Forced generation
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''
self.GAME.round_resets.blind_tags.Big = G.SETTINGS.tutorial_progress and G.SETTINGS.tutorial_progress.forced_tags and G.SETTINGS.tutorial_progress.forced_tags[2] or get_next_tag_key()
'''
match_indent = true
position = 'at'
payload = '''
self.GAME.round_resets.blind_tags.Big = G.SETTINGS.tutorial_progress and G.SETTINGS.tutorial_progress.forced_tags and G.SETTINGS.tutorial_progress.forced_tags[2] or (G.SETTINGS.blindside_tutorial_progress and G.SETTINGS.blindside_tutorial_progress.forced_tags and G.SETTINGS.blindside_tutorial_progress.forced_tags[2]) or get_next_tag_key()
'''

# TUTORIAL - Forced Joker
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''
self.GAME.round_resets.blind_choices.Boss = get_new_boss()
'''
match_indent = true
position = 'at'
payload = '''
self.GAME.round_resets.blind_choices.Boss = (G.SETTINGS.blindside_tutorial_progress or {}).forced_boss or get_new_boss()
'''

# TUTORIAL - cannot buy booster
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = '''
if (e.config.ref_table.cost) > 0 and (e.config.ref_table.cost > G.GAME.dollars - G.GAME.bankrupt_at) then
'''
match_indent = true
position = 'at'
payload = '''
if (e.config.ref_table.cost) > 0 and (e.config.ref_table.cost > G.GAME.dollars - G.GAME.bankrupt_at) or ((not G.SETTINGS.blindside_tutorial_complete and not G.SETTINGS.blindside_tutorial_progress.hold_parts['shop_3'])) then
'''

# TUTORIAL - tutorial autocomplete
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''
if (not G.SETTINGS.tutorial_complete) and G.SETTINGS.tutorial_progress.completed_parts['big_blind'] then G.SETTINGS.tutorial_complete = true end
'''
match_indent = true
position = 'at'
payload = '''
if (not G.SETTINGS.blindside_tutorial_complete) and G.SETTINGS.blindside_tutorial_progress and G.SETTINGS.blindside_tutorial_progress.completed_parts['shop_3'] then G.SETTINGS.blindside_tutorial_complete = true end
if G.SETTINGS.blindside_tutorial_complete then
G.SETTINGS.blindside_tutorial_progress = nil
end
'''

# TUTORIAL - tutorial seed
[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''
self.GAME.pseudorandom.seed = args.seed or (not (G.SETTINGS.tutorial_complete or G.SETTINGS.tutorial_progress.completed_parts['big_blind']) and "TUTORIAL") or generate_starting_seed()
'''
match_indent = true
position = 'after'
payload = '''
self.GAME.pseudorandom.seed = (not (G.SETTINGS.blindside_tutorial_complete or G.SETTINGS.blindside_tutorial_progress.completed_parts['shop_3']) and "BLINDSDE") or self.GAME.pseudorandom.seed
'''